<h3>Log In</h3>

<form id="login" action="/users/login" method="POST">
    <label for="email">Enter your parent's email:</label>
    <input type="text" name="email" id="email">
    <br>
    <label for="password">Enter a password:</label>
    <input type="password" name="password" id="password">
    <br>
    <% if @failed %>
        <p class="warning">Sorry baby. Something you entered wasn't quite right. Try again!</p>
    <%end%>
    <input type="submit" value="Log In">
    
</form>