<h3>Sign Up </h3>


<form action="/users" method="POST" class="form">
<p class="small-font"><%= "Please include email and password" if @user && @user.errors.any? %></p>
    <label for="name">What's your name?</label><br>
    <input type="text" name="name" id="email"><br>

    <label for="email">Enter your parent's email:</label><br>
    <input type="text" name="email" id="email"><br>

    
    <label for="password">Pick a password:</label>
    <div class="small-font">(Password must be 6-20 characters)</div>
    <input type="password" name="password" id="password"><br>

    <input type="submit" value="Create My Account" class="button">

</form>