<form action="/posts" method="POST">
<input type="text" name="title" placeholder="Product Name"> <br>
<textarea name="content" rows="10" cols="30" placeholder="Tell us what you think"></textarea><br>
<input type="submit" value="Post It" class="button">

</form>