<div class="individual-post">
        <h4><%= @post.user.name %></h4>
        <p><%= @post.title%></p>
        <p><%= @post.content%></p>
</div>
<a href="/posts"><button class="button">Go back</button></a>