<h2>Welcome to Baby Talk</h2>
    <h3>Where babies review their favorite products!</h3>
    <p class="body-text">Want to read or post about an awesome (or not so awesome) toy?</P>
    <a href="users/login"><button class="button">Log In</button></a> <br>
    <a href="users/signup"><button class="button">Sign Up</button></a> 