<h2>Welcome to Baby Talk</h2>
    <h3>Where babies review their favorite products!</h3> <br>
    <p class="body-text">Want to post about an awesome (or not so awesome) toy or product?</P>
    <a href="users/login"><button>Log In</button></a> <br>
    <a href="users/signup"><button>Sign Up</button></a> 