<!DOCTYPE html>
<html lang="en"">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../public/css/stylesheet.css">
  <title>Baby Talk</title>
</head>
<body>
    <div>
    <h1>Hey There, Baby! Tell me what you're thinking!</h1>
    <%= yield %>
    </div>
</body> 
</html>